<!DOCTYPE html>
<html lang="{{ translation.get_language() }}" dir="ltr">
	<head>
	    <meta charset="utf-8">
		<meta name=viewport content="width=device-width, initial-scale=1, viewport-fit=cover">
		<meta name='author' content="Nick Mavrakis">
		{% block meta_description %}
			{% if meta_description %}<meta name="description" content="{{ meta_description }}">{% endif %}
		{% endblock %}
		<meta name="google-site-verification" content="i7fUL-xkauOb4oELpX1UNa-49jI_Z92DvoJ1b1LpQa8" />
		{% block extra_meta %}{% endblock %}
	    <title>
		    {% block title %}
		        {% if page_title %}{{ page_title }} | {% endif %}{{ SITE_TITLE }}
	        {% endblock %}
	    </title>
	    {% block extra_styles %}{% endblock %}

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower">
		{% compress css %}
	    <link rel="stylesheet" href="{{ static('css/bootstrap.min.css') }}">
	    <link rel="stylesheet" href="{{ static('css/ionicons.min.css') }}">{# https://ionicons.com/v2/cheatsheet.html #}
	    {#<link rel="stylesheet" href="{{ static('css/animate.css') }}">#}
	    <link rel="stylesheet" href="{{ static('css/flexslider.min.css') }}">
	    <link rel="stylesheet" href="{{ static('css/themepunch.settings.min.css') }}">
	    <link rel="stylesheet" href="{{ static('css/bootstrap-datepicker.min.css') }}">
	    <link rel="stylesheet" href="{{ static('css/style.min.css') }}">
	    <link rel="stylesheet" href="{{ static('css/my_style.min.css') }}">
		{% endcompress %}

		{# Favicons #}
	    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon.png" sizes="180x180" >
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
	</head>

	<body class="fixHeader">
		{% block content %}{% endblock %}

		{% block extra_js_top %}{% endblock %}

		{% compress js %}
		    <script src="{{ static('js/jquery.min.js') }}"></script>
		    <script src="{{ static('js/bootstrap.min.js') }}"></script>
		    <script src="{{ static('js/superfish.min.js') }}"></script>
		    {#<script src="{{ static('js/parallax.min.js') }}"></script>#}
		    <script src="{{ static('js/owl.carousel.min.js') }}"></script>
		    <script src="{{ static('js/flexslider.min.js') }}"></script>
			<script src="{{ static('js/bootstrap-datepicker.min.js') }}"></script>
		    {#<script src="{{ static('js/cubeportfolio.js') }}"></script>#}
		    <script src="{{ static('js/themepunch.revolution.min.js') }}"></script>
		    <script src="{{ static('js/themepunch.tools.min.js') }}"></script>
		    <script src="{{ static('js/localscroll.min.js') }}"></script>
			{% block extra_js_before_main %}{% endblock %}
			<script src="{{ static('js/main.min.js') }}"></script>
		{% endcompress %}
		{% block extra_js_last %}{% endblock %}
	</body>
</html>

