<footer id="footer">
	<div id="footer-widget" class="dark">
		<div class="container">
			<div class="row">
{#				<div class="col-md-3 col-sm-6 col-md-offset-3 clearfix">#}
{#					<aside class="widget">#}
{#						<div class="content widget-about">#}
{#							<img src="assets/img/logo-white.png" alt="mimallis logo">#}
{#							<p>Exercitationem lorem ipsum dolor blandit#}
{#								quibusdam quidem eaque nisi iure eumes odio#}
{#								este facilis totam fuga accusantium.</p>#}
{#							<p>Possimus blanditiis dolorem dignissimos quasi#}
{#								corrupti deserunt tempora quoses.</p>#}
{#							<ul class="social ion-fonts bg">#}
{#								<li><a href="#" data-placement="bottom"#}
{#								       data-toggle="tooltip"#}
{#								       data-original-title="facebook"#}
{#								       title="facebook" class="facebook"><i#}
{#										class="ion-social-facebook"></i></a>#}
{#								</li>#}
{#								<li><a href="#" data-placement="bottom"#}
{#								       data-toggle="tooltip"#}
{#								       data-original-title="twitter"#}
{#								       title="twitter" class="twitter"><i#}
{#										class="ion-social-twitter"></i></a>#}
{#								</li>#}
{#								<li><a href="#" data-placement="bottom"#}
{#								       data-toggle="tooltip"#}
{#								       data-original-title="youtube"#}
{#								       title="youtube" class="youtube"><i#}
{#										class="ion-social-youtube"></i></a>#}
{#								</li>#}
{#							</ul>#}
{#						</div>#}
{#					</aside>#}
{#				</div>#}
{#				<div class="col-md-4 col-sm-6 clearfix">#}
{#					<aside class="widget">#}
{#						<div class="title">#}
{#							<h3>{{ _("Rooms") }}</h3>#}
{#							<hr class="spacer">#}
{#						</div>#}
{#						<div class="content">#}
{#							<ul class="recent_posts_widget list">#}
{#								<li>#}
{#									<a href="#"><i class="ion-home"></i>House 1</a>#}
{#								</li>#}
{#								<li>#}
{#									<a href="#"><i class="ion-home"></i>House 2</a>#}
{#								</li>#}
{#								<li>#}
{#									<a href="#"><i class="ion-home"></i>House 3</a>#}
{#								</li>#}
{#							</ul>#}
{#						</div>#}
{#					</aside>#}
{#				</div>#}
				<div class="col-md-12 col-sm-12 clearfix">
{#					<aside class="widget">#}
{#						<div class="title">#}
{#							<h3>contact info</h3>#}
{#							<hr class="spacer">#}
{#						</div>#}
{#						<div class="content fci">#}
							<ul class="contact-info">
								<li>
									<p>
										<i class="ion-ios-email"></i>
{#										<span>Email :</span>#}
										<a href="mailto:{{ EMAIL }}">{{ EMAIL }}</a>
									</p>
								</li>
								<li>
									<p><i class="ion-android-call"></i>
{#										<span>phone :</span>#}
										<span>{{ TEL }}</span>
									</p>
								</li>
								<li>
									<p><i class="ion-android-phone-portrait"></i>
{#										<span>phone :</span>#}
										<span>{{ MOB }}</span>
									</p>
								</li>
								<li>
									<p><i class="ion-ios-location"></i>
{#										<span>address :</span>#}
										<span>{{ ADDR_1 }}<br>
										{{ ADDR_2 }}</span>
									</p>
								</li>
							</ul>
{#						</div>#}
{#					</aside>#}
				</div>
			</div>
		</div>
	</div>
	<div id="footer-bottom" class="darker">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 clearfix">
					<p class="copyright text-center">{{ _("Developed by") }} <a href="https://manikos.github.io/">manikos</a></p>
				</div>
{#				<div class="col-md-6 col-sm-6 clearfix">#}
{#					<nav class="footer-menu">#}
{#						<ul class="footer-inner">#}
{#							<li><a href=""> Home</a></li>#}
{#							<li><a href=""> about</a></li>#}
{#							<li><a href=""> services</a></li>#}
{#							<li><a href=""> portfolio</a></li>#}
{#							<li><a href=""> blog</a></li>#}
{#							<li><a href=""> contact</a></li>#}
{#						</ul>#}
{#					</nav>#}
{#				</div>#}
			</div>
		</div>
	</div>
</footer>