<header id="main_header" class="default clearfix">
	<div id="header-default" class="main-header">

		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-md-12 clearfix header__top__wrapper">
						<div class="contact-bar">
							<ul class="contact-top border">
								<li>
									<p>
										<i class="ion-android-mail"></i>
{#										<span>Email:</span>#}
										<a href="mailto:{{ EMAIL }}">{{ EMAIL }}</a>
									</p>
								</li>
								<li class="hidden-xs">
									<p>
										<i class="ion-android-call"></i>
{#										<span>Call us:</span>#}
										{{ TEL }}
									</p>
								</li>
								<li class="hidden-xs">
									<p>
										<i class="ion-android-phone-portrait"></i>
{#										<span>Call us:</span>#}
										{{ MOB }}
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="header-menu">
			<div class="container">
				<div id="menu_toggle_button"><i class="ion-navicon-round"></i></div>
				<div id="logo"><a href="{{ url('homepage') }}"><img src="{{ static('img/logo/logo.png') }}" alt="mimallis logo"></a></div>
				<nav class="main-nav pull-right">
					<ul id="main_menu" class="menu clearfix">
						{% with url_name=request.resolver_match.url_name, cls="current-menu-item" %}
							<li class="{% if url_name == 'homepage' %}{{ cls }}{% endif %}">
								<a href="{{ url('homepage') }}">{{ _("Home") }}</a>
							</li>
							<li class="{% if url_name in ['house_list', 'house_detail'] %}{{ cls }}{% endif %}">
								<a href="{{ url('house_list') }}">{{ _("Houses") }}</a>
								<ul class="navi">
									{% for house in get_houses() %}
										<li class="{% if house.slug in request.path %}{{ cls }}{% endif %}">
											<a href="{{ house.get_absolute_url() }}">{{ house.name }}</a>
										</li>
									{% endfor %}
								</ul>
							</li>
							<li class="{% if url_name == 'contact' %}{{ cls }}{% endif %}">
								<a href="{{ url('contact') }}">{{ _("Contact") }}</a>
							</li>
{#							<li class="sub-menu"><a href="#" class="sf-with-ul">lang</a>#}
{#								<form id="change__lang" action="{{ url('set_language') }}" method="post">{% csrf_token %}</form>#}
{#								<ul class="navi lang__wrapper">#}
{#									{% for language in lang_info() %}#}
{#										<li>#}
{#											<input type="radio"#}
{#											       form="change__lang"#}
{#											       class="languages__input"#}
{#											       id="{{ language.code }}"#}
{#											       name="language"#}
{#													{% if language.code == translation.get_language() %}#}
{#                                                   checked{% endif %}#}
{#                                                   value="{{ language.code }}"#}
{#                                                   onchange="this.form.submit()"#}
{#											>#}
{#											<label#}
{#													class="languages__label lang__{{ language.code }}"#}
{#													for="{{ language.code }}"#}
{#													title="{{ language.name_local }}"#}
{#											>#}
{#												{{ language.name_local }}#}
{#											</label>#}
{#										</li>#}
{#									{% endfor %}#}
{#								</ul>#}
{#							</li>#}
						{% endwith %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
