{% extends 'base/base.html' %}


{% block content %}
	<div id="preloader"><span></span><span></span><span></span><span></span><span></span></div>
	{% include "base/header.html" %}
	{% block homepage %}{% endblock %}
	{% block house_list %}{% endblock %}
	{% block house_detail %}{% endblock %}
	{% block contact %}{% endblock %}
	{% include "base/footer.html" %}
{% endblock %}
