:root {
	--header-height: 60px;
}

/*#parallax,*/
/*#testimoni,*/
/*#banner {*/
	/*background-size: cover;*/
/*}*/

#logo,
.main-nav > ul > li,
#menu_toggle_button {
	line-height: var(--header-height);
}

/* Header Menu */
.header-top {
	background-color: #242424;
}

.header__top__wrapper {
	display: flex;
	justify-content: center;
}

.contact-top.border p,
.contact-top.border p a {
	color: #fff;
}

.sub-menu .navi.lang__wrapper {
	min-width: unset;
}

.lang__wrapper li {
	padding: .8rem .4rem;
}

.lang__wrapper input[type="radio"]:checked,
.lang__wrapper input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.lang__wrapper input[type="radio"]:checked + label,
.lang__wrapper input[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

.lang__wrapper input[type="radio"]:checked + label:before,
.lang__wrapper input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.lang__wrapper input[type="radio"]:checked + label:after,
.lang__wrapper input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #03A9F4;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.lang__wrapper input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.lang__wrapper input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Revolution Slider */
.slider .tparrows {
  display: none;
}


/* Greetings */
.action-box.standard.bg-dark {
	background-color: #242424;
	/*--wave-color: #03A9F4;*/
	/*background: repeat-x linear-gradient(white 3%, transparent 0) -7px 0,*/
	/*radial-gradient(circle closest-side, white 60%, transparent 0) -35px -80px,*/
	/*radial-gradient(circle closest-side, white 60%, transparent 0) 16px -80px var(--wave-color);*/
  	/*background-size: 100px 132px;*/
}

.main-content.action-box.standard {
	padding: 20px 0;
}

.main-content.action-box .action-box-content {
	/*display: flex;*/
	/*justify-content: center;*/
}

.action-box.standard .action-box-content h1 {
	font-size: 20px;
	font-weight: normal;
	text-transform: initial;
	letter-spacing: .05em;
	/*margin: .4rem 0 -.5rem 0;*/
}


/* Introduction */
.title-strip {
	padding: 0;
}

.title-strip .heading {
	margin-top: 24px;
	margin-bottom: 0;
}

.title-strip .heading h1,
.houses-select .heading h1 {
	transition: letter-spacing .3s ease-in;
}

.title-strip .heading h1:hover,
.houses-select .heading h1:hover {
	letter-spacing: .05em;
}

.houses-select .heading {
	margin-bottom: 0;
}

.main-content.action-box.big {
	padding: 60px 0;
}

.main-content.action-box.big p {
	margin-bottom: 0;
}

/* Amenities (Homepage) */
.main-content.homepage__amenities {
	padding: 40px 0;
	font-size: 1.1rem;
}

.team_slides {
	margin: 0;
}

/* House select */
.houses-select {
	margin-top: 0;
	padding: 20px 0;
}

#house-select {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
	grid-column-gap: .9rem;
}

.house__select__wrapper {
	display: flex;
	flex-flow: column;
	align-items: center;
}

#house-select article {
	height: 350px;
}

#house-select .content {
	height: inherit;
	box-shadow: 1px 1px 2px #cccccc;
}

#house-select article a {
	display: block;
	height: inherit;
}

#house-select article img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#house-select article a:after {
	--offset: 85%;
	content: "";
	position: absolute;
	top: calc((100% - var(--offset)) / 2);
	left: calc((100% - var(--offset)) / 2);
	width: var(--offset);
	height: var(--offset);
	opacity: 0;
	background-color: lightgray;
	transition: opacity .3s ease-in-out;
	border-radius: 3px;
	pointer-events: all;
}

#house-select article a:hover:after {
	opacity: .4;
}


/* Testimonials */
#testimoni {
	background: #03A9F4;
}

#testimoni .content a {
	color: #424242;
}


/* House Index */
article.style5 .content .content-data {
	padding: 20px 30px;
}


/* House Detail */
.flex-viewport {
	--from: hsla(0, 0%, 50%, .1);
	--to: hsla(0, 0%, 50%, 1);
	background: linear-gradient(45deg, var(--from) 0, var(--to) 100%) no-repeat;
}

.amenities__wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	grid-column-gap: 1.1rem;
}

.amenities__wrapper i::before {
	font-weight: 600;
}

.house__description__row {
	margin-top: 1.2em;
	font-size: 1.1em;
}

.house__description__row h1,
.house__description__row h2,
.house__description__row h3 {
	margin: 1.1rem 0 .4rem;
}

.flexslider {z-index: 1;}

.flexslider .slides {
	display: flex;
	align-items: center;
}


/* Google Maps */
#map {
    width: 100%;
    height: 400px;
}


/* Contact */
.contact header h3 {
	margin-bottom: .5rem;
}

.contact-form {
	display: grid;
	grid-row-gap: 1em;
}

.contact-form .form__group label {
	margin-bottom: 0;
}

.contact-form .form__group .btn {
	font-size: 1.1rem;
}

.contact-form .form__group {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 1em;
	padding: 1em;
	border: 1px solid lightgray;
	border-radius: 10px;
}

.contact-form .form__group.form__group__message {
	grid-auto-flow: row;
	grid-template-columns: unset;
	grid-row-gap: 0;
}

.contact-form .form__group > div {
	margin-right: 1em;
}

.contact-form .form__group .errorlist {
	display: inline;
	color: red;
}

.contact-form .form__group label {
	font-weight: normal;
	margin-right: 1em;
}

.contact-form .form__group input {
	padding: .5em;
}

.contact-form .form__group textarea {
	resize: vertical;
}

.contact-form .kids__age {
	display: flex;
}
.contact-form .kid__age__wrapper {
	margin-right: .5rem;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled,
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
	color:#eaeaea;
}

.datepicker table tr td.day:not(.disabled) {
	font-weight: 600;
}


/* Footer */
#footer .contact-info {
	display: flex;
	padding: 20px 0;
	margin-bottom: 0;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

#footer-bottom {padding: 0;}

#footer-bottom p a {
    text-transform: unset;
	margin-left: 0;
}

#footer-widget .contact-info p {
	display: flex;
	align-items: center;
	margin-bottom: 0;
	font-size: 1.1em;
}

#footer-widget .contact-info i {
	margin-right: 10px;
	line-height: 1;
}


@media only screen and (max-width: 640px) {
	.contact-form .start_date {
		float: unset;
	}
}


@media only screen and (max-width: 979px) {
	/*.main-nav {*/
		/*width: 25%;*/
	/*}*/

	/*#main_menu {*/
		/*display: flex;*/
		/*flex-flow: column;*/
	/*}*/

	#main_menu > li {
		margin-bottom: 1rem;
		float: unset;
		line-height: unset;
	}

	#main_menu li.sub-menu {
		height: .1rem;
	}

	.testimonial-slide.owl-carousel .owl-controls {
		display: none !important;
	}

	#footer .contact-info {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
		grid-column-gap: 1rem;
	}
}
