{% extends 'admin/base_site.html' %}

{% load static %}
{% load i18n %}

{# Content at top #}
{% block branding %}
	<h1 id="site-name">
		<a href="{% url 'admin:index' %}">
			<img class="brand_img" src="{% static 'img/logo/logo_admin.png'%}" width="100" alt="logo" style="margin:-5px 10px 0 0;">
			<span>Admin</span>
		</a>
	</h1>
{% endblock %}

{# Content before model listing #}
{% block content_title %}
	<h1>Customize your website</h1>
{% endblock %}
