{% extends 'admin/change_form.html' %}

{% load static %}

{% block extrahead %}
	{{ block.super }}
	<script type="text/javascript">const $ = django.jQuery;</script>
	<script type="text/javascript" src="{% static 'js/admin/adminPreviewImage.js' %}"></script>
{#	<script type="text/javascript" src="{% static 'js/admin/imgValidation.min.js' %}"></script>#}
{% endblock %}