<section class="main-content title-strip">
	<div class="container">
		<div class="row text-center">
			<div class="heading">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1>{{ amenity.title }}</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="main-content gray homepage__amenities">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				{{ amenity.text|safe }}
			</div>
			<ul class="team_slides">
				{% for image in amenity.images.all() %}
				<li>
					<div data-effect="slide-bottom" class="team list_team">
						<div class="content_team">
							{% set thumb = thumbnail(image.image, size=(450, 500), quality=75) %}
							<img src="{{ thumb.url }}" alt="amenity image {{ loop.index }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>