
<section class="main-content action-box standard bg-dark">
	<div class="container">
		<div class="col-md-12">
			  <div class="action-box-content">
			    <h1 id="greeting" data-client-ip="{{ client_ip }}"></h1>
			  </div>
		</div>
	</div>
</section>