<section class="main-content title-strip">
	<div class="container">
		<div class="row text-center">
			<div class="heading">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1>{{ introduction.title }}</h1>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="main-content action-box big bg-main">
	<div class="container">
		<div class="col-md-12">
			  <div class="action-box-content">
			    {{ introduction.text|safe }}
			  </div>
		</div>
	</div>
</section>