<section class="main-content houses-select">
	<div class="container">
		<div class="row text-center">
			<div class="heading">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1>{{ homepage_select.title }}</h1>
				</div>
			</div>
		</div>
		<div id="house-select">
		{% for house in get_houses() %}
			<div class="house__select__wrapper">
				<article class="portfolio-item style2">
					<div class="content">
						<a href="{{ house.get_absolute_url() }}">
							{% set thumb = thumbnail(house.images.first().large_img, size=(526, 350), quality=75) %}
							<img
								src="{{ thumb.url }}"
								alt="image {{ loop.index }} portfolio"
								width="{{ thumb.width }}"
								height="{{ thumb.height }}"
							/>
						</a>
					</div>
				</article>
				<h4><a href="{{ house.get_absolute_url() }}">{{ house.name }}</a></h4>
			</div>
		{% endfor %}
      </div>
	</div>
</section>