<section class="slider">
	<div class="fullwidthbanner-container">
		<div class="tp-banner">
			<ul>
				{% for slider in sliders %}
					<li
						data-transitions="fade"
						data-slotamount="5"
						data-masterspeed="800"
						data-fsmasterspeed="800"
						data-fsslotamount="5"
						data-saveperformance="on"
					>
						{% set thumb = thumbnail(slider.image, size=(1920, 520), quality=75) %}
						<img
							src="{{ static('img/slider/transparent.png') }}"
						    data-lazyload="{{ thumb.url }}"
							alt="slider {{ loop.index }} image"
							data-bgfit="cover"
							data-bgposition="center center"
							data-bgrepeat="no-repeat"
							width="{{ thumb.width }}"
							height="{{ thumb.height }}"
						/>
						{% if slider.title %}
							<div data-x="0" data-y="90" data-hoffset="0" data-speed="500"
							     data-start="1600" data-easing="easeOutExpo" data-endspeed="500"
							     data-endeasing="easeInSine"
							     class="tp-caption custom_title fz_35 white sfr">
								{{ slider.title }}
							</div>
                        {% endif %}
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>