<section id="testimoni" class="main-content action-box big">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
				<h2 class="text-center">{{ _('What they said about us...') }}</h2>
				<div class="testimonial-slide text-center">
					{% for review in homepage_testimonials %}
						<div class="owl-item">
							<div class="content">
								<p>{{ review.review }}</p>
								<h3>{{ review.visitor_name }}</h3>
								<span>{{ review.place }}</span>
								<a href="{{ review.house.get_absolute_url() }}">{{ _('about') }} {{ review.house.name }}</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>