{% extends "base/index.html" %}

{% block meta_description %}
	{% if house.meta_description %}<meta name="description" content="{{ house.meta_description }}">{% endif %}
{% endblock %}


{% block house_detail %}
	{% set thumb_top = thumbnail(house.top_image, size=(1920, 280), quality=78) %}
	<section id="banner" class="main-content banner-page" style="background: url('{{ thumb_top.url }}') no-repeat">
		<div class="container">
			<div class="banner-wrapper">
				<div class="bp-content">
					<h1>{{ house.name }}</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="main-content portfolio-single">
		<div class="container">
			<div class="row">
				<div class="col-md-{% if house.amenities.exists() %}8{% else %}12{% endif %}">
					<div class="content-attachment">
						<div class="flexslider">
							<ul class="slides">
								{% for image in house.images.all() %}
									<li>
										{% set thumb = thumbnail(image.large_img, size=(750, 500), quality=80) %}
{#										<img src="{{ thumb.url }}" alt="{{ loop.index }} {{ house.name }} image" width="{{ thumb.width }}" height="{{ thumb.height }}">#}
										<img {% if loop.first %}src="{{ thumb.url }}" {% else %}src="" data-src="{{ thumb.url }}"{% endif %} alt="{{ loop.index }} {{ house.name }} image" width="{{ thumb.width }}" height="{{ thumb.height }}">
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				{% if house.amenities.exists() %}
				<div class="col-md-4">
					<h4>{{ _("Amenities") }}</h4>
					<ul class="amenities__wrapper">
						{% for amenity in house.amenities.all() %}
							<li class="amenity">
								<i class="ion-android-checkbox-outline"></i>
								<span>{{ amenity.name }}</span>
							</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
			</div>
			{% if house.description %}
			<div class="row house__description__row">
				<article class="col-md-12">
					{{ house.description|safe }}
				</article>
			</div>
			{% endif %}
		</div>
	</section>
{% endblock %}
