{% extends "base/index.html" %}


{% block house_list %}
	{% set thumb_top = thumbnail(house_index.top_image, size=(1920, 280), quality=78) %}
	<section id="banner" class="main-content banner-page" style="background: url('{{ thumb_top.url }}') no-repeat">
		<div class="container">
			<div class="banner-wrapper">
				<div class="bp-content">
					<h1>{{ _("Our Houses") }}</h1>
				</div>
			</div>
		</div>
	</section>
	<section class="main-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12 clearfix">
					<div id="grid-container" class="cbp-l-grid-masonry">
						{% for house in houses %}
							<article class="cbp-item portfolio-item style5 full">
								<div class="content">
									<div class="content-thumb">
										{% set thumb = thumbnail(house.images.first().large_img, size=(570, 300), quality=70) %}
										<img src="{{ thumb.url }}" alt="{{ house.name }}" width="{{ thumb.width }}" height="{{ thumb.height }}">
										<a href="{{ house.get_absolute_url() }}" title="{{ house.name }}">
											<div class="content-hover">
{#												<div class="action">#}
	{#												<a href="{{ house.get_absolute_url() }}" title="{{ house.name }}" class="link-detail"><i class="ion-link"></i></a>#}
{#												</div>#}
											</div>
										</a>
									</div>
									<div class="content-data">
										<h3>
											<a href="{{ house.get_absolute_url() }}">{{ house.name }}</a>
										</h3>
										<p class="desc">{{ house.short_description }}</p>
										<a href="{{ house.get_absolute_url() }}" class="btn-readmore">{{ _("Read More") }}</a>
									</div>
								</div>
							</article>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
