{% extends "base/index.html" %}


{% block contact %}
	<section id="banner" class="main-content banner-page" style="background: url('{{ static('img/top_images/contact_top_image.jpg') }}') no-repeat" >
		<div class="container">
			<div class="banner-wrapper">
				<div class="bp-content">
					<h1>{{ _("Contact") }}</h1>
				</div>
			</div>
		</div>
	</section>
{#	<div class="banner-breadcrumb default">#}
{#		<div class="container">#}
{#			<div class="row">#}
{#				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">#}
{#					<div class="breadcrumbs">#}
{#						<ol class="breadcrumb">#}
{#							<li class="labels">You are here:</li>#}
{#							<li><a href="#">Home</a></li>#}
{#							<li><a href="#">page</a></li>#}
{#							<li class="active">Contact</li>#}
{#						</ol>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
	<section class="main-content contact npadding_top_0">
		<div class="maps clearfix">
{#			<div id="jogjamap"></div>#}
			<div id="map"></div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 clearfix mrb_50">
					<header>
						<h3>{{ _("Booking Request Form") }}</h3>
					</header>
					{% if messages(request) %}
					    {% for message in messages(request) %}
					        {% if 'form_success' in message.tags %}
					            <div role="alert" class="alert alert-success">
									<button type="button" data-dismiss="alert" class="close">
										<span aria-hidden="true">&times;</span><span></span></button>
									<strong>Success!</strong>{{ message|safe }}
								</div>
					        {% elif 'form_error' in message.tags %}
					            <div role="alert" class="alert alert-danger">
									<button type="button" data-dismiss="alert" class="close">
										<span aria-hidden="true">&times;</span><span></span></button>
									<strong>Error!</strong><span class="errorMessage">{{ message|safe }}</span>
								</div>
					        {% endif %}
					    {% endfor %}
					{% endif %}
					<form method="post" role="form" class="contact-form">{% csrf_token %}
						<div class="form__group__basic form__group">
							<div class="name">
								{{ contact_form.name.errors }}
								{{ contact_form.name.label_tag() }}{{ contact_form.name }}
							</div>
							<div class="email">
								{{ contact_form.from_email.errors }}
								{{ contact_form.from_email.label_tag() }}{{ contact_form.from_email }}
							</div>
						</div>
						<div class="form__group__house form__group">
							<div class="start_date date__picker">
								{{ contact_form.start_date.errors }}
								{{ contact_form.start_date.label_tag() }}{{ contact_form.start_date }}
							</div>
							<div class="until_date date__picker">
								{{ contact_form.until_date.errors }}
								{{ contact_form.until_date.label_tag() }}{{ contact_form.until_date }}
							</div>
							<div class="house_select">
								{{ contact_form.house.errors }}
								{{ contact_form.house.label_tag() }}{{ contact_form.house }}
							</div>
						</div>
						<div class="form__group__persons form__group">
							<div class="adults">
								{{ contact_form.adults.errors }}
								{{ contact_form.adults.label_tag() }}{{ contact_form.adults }}
							</div>
							<div class="kids">
								{{ contact_form.kids.errors }}
								{{ contact_form.kids.label_tag() }}{{ contact_form.kids }}
							</div>
							<div class="kids__age">
{#								{{ contact_form.kids_age.errors }}#}
{#								{{ contact_form.kids_age.label_tag() }}{{ contact_form.kids_age }}#}
							</div>
						</div>
						<div class="form__group__message form__group">
							<div class="message">
								{{ contact_form.message.errors }}
								{{ contact_form.message.label_tag() }}{{ contact_form.message }}
							</div>
							<div class="button__submit">
								<input type="submit" name="send_email" value="{{ _('Send Message') }}" class="btn btn-primary">
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-4">
{#					<div class="description">#}
{#						<div class="title-content">#}
{#							<h3>Get in Touch</h3>#}
{#						</div>#}
{#						<p>Lorem ipsum dolor sit amet, consectetur adipisicing#}
{#							elit. Itaque odit atque, illo soluta eveniet adipisci#}
{#							architecto, excepturi delectus eum ipsa expedita,#}
{#							explicabo sit. Nulla doloribus voluptatum vitae, error#}
{#							explicabo eius!</p>#}
{#					</div>#}
					<div class="info-contact">
						<div class="title-content">
							<h3>{{ _("Information") }}</h3>
						</div>
						<div class="content">
							<ul class="contact-info">
								<li>
									<p>
										<i class="ion-ios-email-outline"></i>
										<span>Email: </span>
										<a href="mailto:{{ EMAIL }}">{{ EMAIL }}</a>
									</p>
								</li>
								<li>
									<p>
										<i class="ion-ios-telephone-outline"></i>
										<span>{{ _("Phone") }}: </span>
										{{ TEL }}
									</p>
								</li>
								<li>
									<p>
										<i class="ion-android-phone-portrait"></i>
										<span>{{ _("Mobile") }}: </span>
										{{ MOB }}
									</p>
								</li>
								<li>
									<p>
										<i class="ion-ios-location-outline"></i>
										<span>{{ _("Address") }}: </span>
										{{ ADDR_1 }}<br>
										{{ ADDR_2 }}
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}


{% block extra_js_before_main %}
	{% compress js, inline %}
	<script>
	window.GMInit = function() {
		let locations = [
				['<p style="color:black;margin:5px 0;">{{ _("Plaka village") }}</p>', 36.743854, 24.422605, 1],
				['<p style="color:black;margin:5px 0;">{{ _("Klima village") }}</p>', 36.734728, 24.420495, 2],
			],
			map = new google.maps.Map(document.getElementById("map"), {
				scrollwheel: false,
				zoom: 15,
				center: new google.maps.LatLng(36.740836, 24.420818),
				mapTypeId: google.maps.MapTypeId.ROADMAP
			}),
			infoWindow = new google.maps.InfoWindow,
			marker, i;
		for (i = 0; i < locations.length; i++) {
			marker = new google.maps.Marker({
				position: new google.maps.LatLng(locations[i][1], locations[i][2]),
				map: map
			});
			google.maps.event.addListener(marker, "click", function (o, n) {
				return function () {
					infoWindow.setContent(locations[n][0]), infoWindow.open(map, o)
				}
			}(marker, i))
		}
	};
	</script>
	{% endcompress %}
{% endblock %}

{% block extra_js_last %}
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GM_API_KEY }}&callback=GMInit"></script>
{% endblock %}